/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30vh;
    padding-left: 20%;
    padding-right: 40%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}